body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
    background-image: linear-gradient(79deg, #2b0689, #1923b9);
    
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.signup-container {
  width: 350px;
  max-height: 500px;
  margin: 0 auto;
  
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: white;
  margin-top:150px;
  margin-bottom:0 auto;
}

.signup-container h2 {
  margin-bottom: 20px;
  text-align: center;
  color: #333;
}

.signup-container form {
  display: flex;
  flex-direction: column;
}

.signup-container label {
  margin-bottom: 10px;
  font-weight: bold;
  color: #333;
}

.signup-container input[type="text"],
.signup-container input[type="email"],
.signup-container input[type="password"] {
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.signup-container button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  margin-top: 15px;
}

.signup-container button:hover {
  background-color: #0056b3;
}
.signup-container p{
  margin-left: 50px;
}





.login-container {
  width: 350px;
  max-height: 500px;
  margin: 0 auto;

  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: white;
  margin-top: 150px;
  margin-bottom: 0 auto;
}

.login-container h2 {
  margin-bottom: 20px;
  text-align: center;
  color: #333;
}

.login-container form {
  display: flex;
  flex-direction: column;
}

.login-container label {
  margin-bottom: 10px;
  font-weight: bold;
  color: #333;
}

.login-container input[type="text"],
.login-container input[type="email"],
.login-container input[type="password"] {
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.login-container button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  margin-top: 15px;
}

.login-container button:hover {
  background-color: #0056b3;
}

.login-container p {
  margin-left: 50px;
}